@model DoAn_CoSo.Models.Sanpham

@{ ViewBag.Title = "Details";
                Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; }

<h2>Thông tin chi tiết</h2>

<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nhaxuatban.Tennxb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhaxuatban.Tennxb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loaisach.Tenloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loaisach.Tenloai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tensach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giatien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theloai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tacgia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tacgia)
        </dd>
              
        <dt>
            @Html.DisplayNameFor(model => model.Hinhanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinhanh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Masach }) |
    @Html.ActionLink("Về trang chủ", "Index")
</p>
